<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Achievement</title>


</head>

<body>


  <%- include('./partials/nav.ejs') %>






  <!-- style of head ...............................................................................................................-->
  <style>
    .div1 {
      width: 100%;
      padding: 10%;
      margin: 0;
      color: rgb(255, 255, 255);
      text-align: center;
      background-image: url(./dark.jpg);
      background-size: 100% 100%;
      
     


    }

    .div2 {
      margin-top: 40px;
    }
  </style>

  <!-- div of head ..................................................................................................................-->
  <div class="div1" >
    <div class="div2" style="font-size: 170px; font-family: 'Times New Roman', Times, serif;">
     Achievements
    </div>
    
  </div>

  <!-- style of next1 .................................................................................................................-->
  <style>
    * {
      box-sizing: border-box;
    }
    
    
    .c1 {
      float: left;
      width: 35%;
      padding: 0px;
      height: 500px; 
      background-image: url(./grey.jpg);
      background-size: 100% 100%;
    }
    
    .c2 {
      float: left;
      width: 65%;
      padding: 10px;
      height: 500px;
      background-image: url(./black.jpg);
      background-size: 100% 100%; 
    }
    
    
    
    
    .r:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    </head>
    <body>
    
    
    <!-- div of next1 ...............................................................................................................-->
    <div class="r">
      <div class="c1" style="background-color:#fcf1f1;">
        <h2 style="text-align: center; font-size: 60px; font-family: cursive; color: rgb(24, 62, 230);">Coursera</h2>
        <img src="./4.1.png" alt="coursera" style="width: 400px; height: 400px; left: 60px;">
        
      </div>
      <div class="c2" style="background-color:rgb(65, 57, 57);">
        <p style="font-size: 40px;color: rgb(192, 55, 55); font-family: cursive; text-align: center;"> Crash Course on Python</p>
        <img src="./1643539901972.jpg" alt="Crash" style="width: 570px; height: 405px;left: 220px;">
        
        
      </div>
    </div>


    <div class="r">
     
      <div class="c2" style="background-color:rgb(58, 48, 48);">
       
        <p style="font-size: 40px; color: rgb(192, 55, 55);">From : </p>
        <p style="font-size: 35px; color: rgb(192, 55, 55) ; left: 160px; bottom: 70px;">MES College of Engineering, Kuttipuram</p>
        <img src="./222_DERIN JOHN ANTONY.jpg" alt="certificate" style="width: 570px; height: 405px; bottom: 80px; left:150px;">
      
      </div>
      <div class="c1" style="background-color:#fcf1f1;">
        <h2 style="text-align: center; font-size: 60px; font-family: cursive; color: rgb(185, 70, 41); ">Introduction to Drone Technology</h2>
        <img src="./drone-png-46993.png" alt="drone" style="width: 430px; height: 300px;left: 70px;">
        
      </div>
    </div>
    

    <div class="r">
      <div class="c1" style="background-color:#fcf1f1;">
        <h2 style="text-align: left; font-size: 40px; font-family: cursive; color: rgb(26, 59, 226); border: 5px rgba(30, 31, 34, 0.5); top: 150px;left: 50px;">Introduction to Wheeled Robot Modelling & Simulations via Python</h2>
       
        
      </div>
      <div class="c2" style="background-color:rgb(65, 57, 57);">
        <p style="font-size: 40px;color: rgb(192, 55, 55); font-family: cursive; ;"> From: </p>
        <p style="font-size: 30px;color: rgb(192, 55, 55); font-family: cursive;left:120px; bottom: 65px;"> IIT Palakkad </p>
        <img src="./pngwing.com.png" alt="wrobot" style="width: 570px; height: 405px;left: 220px; bottom: 60px;">
        
        
      </div>
    </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>