<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Interest</title>


</head>

<body>


  <%- include('./partials/nav.ejs') %>




  <!-- style of head ...............................................................................................................-->
  <style>
    .div1 {
      width: 100%;
      padding: 5%;
      margin: 0;
      color: aliceblue;
      text-align: center;
      background-image: url(./dark.jpg);
      background-size: 100% 100%;

    }

    .div2 {
      margin-top: 40px;
    }
  </style>

  <!-- div of head ..................................................................................................................-->
  <div class="div1">
    <div class="div2" style="font-size: 100px; font-family: 'Times New Roman', Times, serif;">
     Interests
    </div>
    
  </div>

  <!-- style of next1 .................................................................................................................-->
  <style>
    * {
      box-sizing: border-box;
    }
    
    
    .c1 {
      float: left;
      width: 45%;
      padding: 0px;
      height: 600px;
      background-image: url(./grey.jpg);
      background-size: 100% 100%; 
    }
    
    .c2 {
      float: left;
      width: 55%;
      padding: 10px;
      height: 600px; 
      background-image: url(./black.jpg);
      background-size: 100% 100%; 
    }
    
    
    
    
    .r:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
    </head>
    <body>
    
    
    <!-- div of next1 ...............................................................................................................-->
    <div class="r">
      <div class="c1" >
        <h2 style="text-align: center; font-size: 60px; font-family: cursive; color: rgb(189, 38, 45);">Cricket</h2>
        <img src="./cricket.jpg" alt="drone image" style="width:100%; height: 80%; top: 40px;">
      </div>
      <div class="c2" >
        <p style="font-size: 40px;color: snow;">My favourite player is..........</p>
        <img src="./dhoni 1.jpg" alt="Dhoni" style="width: 225px; height: 275px;left: 480px;bottom: 80px;">
        <p style="font-size: 30px; color: snow; bottom: 30px;">Here are some sites to watch and learn Cricket........ </p>
        <a href="https://www.bcci.tv/"><img src="./bcci.png" alt="bccitv" style="width: 100px; height: 100px; border-radius: 50%; left: 10px; "></a>
        <a href="https://www.youtube.com/"><img src="./youtube.png" alt="youtube" style="width: 100px; height: 100px; border-radius: 50%; left: 50px;"></a>
        <a href="https://www.cricbuzz.com/"><img src="./cricbuzz.jpg" alt="cricbuzz" style="width: 100px; height: 100px; border-radius: 50%; left: 90px;"></a>
        <a href="https://www.skysports.com/cricket"><img src="./skysport.jpg" alt="skysport" style="width: 100px; height: 100px; border-radius: 50%; left: 130px;"></a>
        <a href="https://www.espncricinfo.com/"><img src="./espn.png" alt="espn" style="width: 100px; height: 100px; border-radius: 50%; left: 170px;"></a>
        <a href="https://www.hotstar.com/in/sports/cricket"><img src="./hotstar.jpg" alt="hotstar" style="width: 100px; height: 100px; border-radius: 50%; left: 210px;"></a>
      </div>
    </div>


    <div class="r">
     
      <div class="c2">
       
        <p style="font-size: 40px; color: snow;">Drones were on of the most fascinating thing since my childhood. One of my favourite drone is dji mavic 2 pro..........</p>
        <p style="font-size: 30px; color: snow; top: 150px; ">Here are some sites where you can learn to make a drone.....</p>
        <img src="./dji.jpg" alt="dji" style="width: 250px; height: 200px; left: 450px; bottom: 130px;">
        <a href="https://dronenodes.com/how-to-build-a-drone/"><img src="./d2.jpg" alt="d2" style="width: 100px; height: 100px; border-radius: 50%; top: 130px;right: 210px;"></a>
        <a href="https://www.mydronelab.com/blog/how-to-build-a-drone.html"><img src="./d3.jpg" alt="d3" style="width: 100px; height: 100px; border-radius: 50%; top: 130px;right: 180px;"></a>
        <a href="https://dojofordrones.com/build-a-drone/"><img src="./d4.png" alt="d4" style="width: 100px; height: 100px; border-radius: 50%; top: 130px;right: 150px;"></a>
        <a href="https://dronesgator.com/how-to-build-a-drone/"><img src="./d6.jpg" alt="d6" style="width: 100px; height: 100px; border-radius: 50%; top: 130px;right: 120px;"></a>
        <a href="https://oscarliang.com/build-racing-drone-fpv-quadcopter/"><img src="./d7.jpg" alt="d7" style="width: 100px; height: 100px; border-radius: 50%; top: 130px;right: 90px;"></a>
        <a href="https://www.youtube.com/"><img src="./youtube.png" alt="youtube" style="width: 100px; height: 100px; border-radius: 50%; bottom: 20px; left: 715px;"></a>
 
      </div>
      <div class="c1" >
        <h2 style="text-align: center; font-size: 60px; font-family: cursive; color: rgb(189, 38, 45);">Drone</h2>
        <img src="./2.1.jpg" alt="drone image" style="width:100%; height: 80%;top: 40px;">
        
      </div>
    </div>
    



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>